# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv

# IDEs
.vscode
.idea/
*.swp
*.swo

# Local test files
test.lua
test.obfuscated.lua
config.lua
*.obfuscated.lua

# Legacy Lua artifacts
lua51.dll
luajit.exe
srlua
luajit
buildnotes.txt
srlua.exe
glue.exe
build/

# OS
.DS_Store
Thumbs.db
